.repositories{
  overflow: hidden;
  margin-top: 80px;
  height: 100%;
  display: flex;
  width: 700px;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.filter{
  display: flex;
  justify-content: space-between;
  align-items: center;
}