nav.header-nav {
  background-color: #fff;
  top: 0;
  /* height: 60px; */
  position: fixed;
  display: flex;
  justify-content: center;
  /* padding-top: 20px; */
  align-items: center;
  width: 100%;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}
ul.header-ul {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  list-style-type:none;
  width: 200px;
}
li>a.header-nav-link{
  background-color: rgb(239, 239, 239);
  border: none;
  border-radius: 4px;
  color: black;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
li>a.active{
  background-color: #9acef8; 
  /* color: white; */
}
button.logout{
  position: absolute;
  right: 23px;
  border: none;
  border-radius: 4px;
  padding: 5px 5px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
}