.repo-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  border: solid 1px #b1b3b5;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  padding: 5px 5px;
  max-width: 700px;
}
.repo-info{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.repo-fav{
  height: 30px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.repo-fav:hover{
  cursor: pointer;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}