/* .container {
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
} */
section.sec-sign-up{
  background-color: #eee;
  border-top: solid 2px blue;
  padding: 20px 25px;
  width: 500px;
  box-shadow: 0px 2px 3px rgba(0, 0, 0,0.3);
}