.input-field {
  margin-bottom: 20px;
}

.input-label {
  color: #000;
  display: block;
  margin-bottom: 5px;
}

.input-item {
  outline: none;
  padding: 8px;
  border: solid 1px #b1b3b5;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 5px;
}

.error-label {
  color: #f00;
}