button.button {
  background: rgb(28, 66, 233);
  color: white;
  font-size: 1em;
  padding: 0.25em 1em;
  border: 2px solid rgb(28, 66, 233);
  cursor: pointer;
}

button.button:disabled {
  border: 2px solid gray;
  background: gray;
  cursor: not-allowed;
}