div.home{
  margin-top: 80px;
  height: 100%;
  display: flex;
  width: 700px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  /* border: none; */
  border-radius: 4px;
}
div.profile{
  border-radius: 4px;
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 230px;
  width: 500px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.3);
}
div.profile-header{
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
div.profile-name{
  /* border: solid 1px black; */
  border-radius: 4px;
  padding: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0,0,0.4);
}
img.profile-pic{
  border: solid 1px black;
  border-radius: 0px 0px 4px 4px;
  max-width: 75px;
  max-height: 75px;
}
div.profile-content{
  border-top-width: 400px;
  border-top: solid 1px rgb(64, 140, 226);
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: stretch;
}
div.profile-repocount{
  border-radius: 4px;
  padding: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0,0,0.2);
  margin-bottom: 3px;
  border: solid 1px rgb(84, 157, 240);
}
div.profile-email{
  border-radius: 4px;
  padding: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0,0,0.2);
  margin-bottom: 3px;
}
div.profile-link{
  border-radius: 4px;
  padding: 5px;
  box-shadow: 1px 1px 1px rgba(0, 0,0,0.2);
}